<!DOCTYPE html>
<html lang = "zh-Hant-TW" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="BIG5">
<title>Insert title here</title>
<script src="/js/jquery.min.js"></script>
</head>
<body>
<p style="text-align: center; font-size:25px">天天天天出勤系統 請確認出勤系統</p>

<table border=4 align=center width=20% bgcolor=white cellspacing=5 cellpadding=6>
    <tr>
        <td>員工編號</td>
        <td id = "insertid" th:text= "${emplist.getId()}"></td>
    </tr>

    <tr>
        <td>名字</td>
        <td th:text= "${emplist.getName()}"></td>
    </tr>

    <tr>
        <td>性別</td>
        <td th:text= "${emplist.getSex()}"></td>
    </tr>
    
    <tr>
        <td>身分證字號</td>
        <td th:text= "${emplist.getPersonid()}"></td>
    </tr>

    <tr>
        <td>出生年月日</td>
        <td th:text= "${emplist.getBirthdate()}"></td>
    </tr>
    <tr>
        <td>連絡電話</td>
        <td th:text= "${emplist.getPhone()}"></td>
    </tr>
    <tr>
        <td>職位</td>
        <td th:text= "${emplist.getPosition()}"></td>
    </tr>
    <tr>
        <td>部門</td>
        <td th:text= "${emplist.getDepartment()}"></td>
    </tr>
    <tr style = "text-align: center;">
        <td><button id = "punchin">打卡</button></td>
        <td><button id = "holidayin">請假</button></td>
    </tr>

</table>
<script type="text/javascript">
	$("#punchin").click(function(){
		
		var id = $("#insertid").html();
		var data = {
				id:id,
				checkstatus:null,
				checktime:null
		}
		$.ajax({
		      type : "POST",
		      contentType : "application/json",
		      url : "http://localhost:8081/punch/in",
		      data : JSON.stringify(data),
		      dataType : 'json',
		      success : function(result) {
		    	 
		    	  console.log(result);
		    	  
		        
		      },
		      error : function(e) {
		        alert("Error!")
		        console.log("ERROR: ", e);
		      }
		    });
	})
</script>


</body>
</html>