<!DOCTYPE html>
<html lang = "zh-Hant-TW" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="BIG5">
<title>Insert title here</title>
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<script src="/js/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body>
<p style="text-align: center; font-size:25px">天天天天出勤系統 請確認出勤系統</p>

<table border=4 align=center width=20% bgcolor=white cellspacing=5 cellpadding=6>
    <tr>
        <td>員工編號</td>
        <td id = "insertid" th:text= "${emplist.getId()}"></td>
    </tr>

    <tr>
        <td>名字</td>
        <td id = "insertname" th:text= "${emplist.getName()}"></td>
    </tr>

    <tr>
        <td>性別</td>
        <td th:text= "${emplist.getSex()}"></td>
    </tr>
    
    <tr>
        <td>身分證字號</td>
        <td th:text= "${emplist.getPersonid()}"></td>
    </tr>

    <tr>
        <td>出生年月日</td>
        <td th:text= "${emplist.getBirthdate()}"></td>
    </tr>
    <tr>
        <td>連絡電話</td>
        <td th:text= "${emplist.getPhone()}"></td>
    </tr>
    <tr>
        <td>職位</td>
        <td id = "insertposition" th:text= "${emplist.getPosition()}"></td>
    </tr>
    <tr>
        <td>部門</td>
        <td  id = "insertdepartment" th:text= "${emplist.getDepartment()}"></td>
    </tr>
    <tr style = "text-align: center;">
        <td><button class="btnpunch" id = "punchin">打卡</button></td>
        <td><button class="btnholiday" data-toggle="modal" data-target="#myModal" id = "holidayin">請假</button></td>
    </tr>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					請假資料
				</h4>
			</div>
			<div class="modal-body"><!-- 請假資料本文內容 -->

				<p class ="modal-bodyid">員工編號:</p>
				<p class ="modal-bodyaccount">員工名字:</p>
				<p class ="modal-bodyposition">職位:</p>
				<p class ="modal-bodydepartment">部門:</p>
				<p class ="modal-bodyleavetype">請假假別:<select id = "type"><option value="0">事假</option><option value="1">病假</option></select>
				<p class ="modal-bodyleavedatehr">請假小時:<input id ="datehr" type="text" placeholder="1 hr">
				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					關閉
				</button>
				<button type="button" class="btn btn-primary" id = "leaveapply">
					申請
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>

</table>

<script type="text/javascript">


	$("#punchin").click(function(){
		
		var id = $("#insertid").html();
		var data = {
				id:id,
				checkstatus:null,
				checktime:null
		}
		$.ajax({
		      type : "POST",
		      contentType : "application/json",
		      url : "http://localhost:8081/punch/in",
		      data : JSON.stringify(data),
		      dataType : 'json',
		      success : function(result) {
		    	 
		    	  console.log(result);
		    	  
		        
		      },
		      error : function(e) {
		        alert("Error!")
		        console.log("ERROR: ", e);
		      }
		    });
	})
	
	
	$('#myModal').on('show.bs.modal', function () {
		var id = $("#insertid").html();
		var name = $("#insertname").html();
		var position = $("#insertposition").html();
		var department = $("#insertdepartment").html();
		var modalid = $(".modal-bodyid").html();
		var modalaccount = $(".modal-bodyaccount").html();
		var modalposition = $(".modal-bodyposition").html();
		var modaldepartment = $(".modal-bodydepartment").html();
		
		$(".modal-bodyid").html(modalid+id);
		$(".modal-bodyaccount").html(modalaccount+name);
		$(".modal-bodyposition").html(modalposition+position);
		$(".modal-bodydepartment").html(modaldepartment+department);
		
	})
	
	$("#leaveapply").click(function(){
		
		
		
		var data = {
			id:$("#insertid").html(),
			vacation:$("#type").val(),
			vacationstartDate:$(".modal-bodyleavedates").val(),
			vacationendDate:$(".modal-bodyleavedatee").val(),
			vacationTime:""
		}
		
		$.ajax({
		      type : "POST",
		      contentType : "application/json",
		      url : "http://localhost:8081/leave",
		      data : JSON.stringify(data),
		      dataType : 'json',
		      success : function(result) {
		    	 
		    	  console.log(result);
		    	  if(result.status==="200"){
		    		  alert("請假成功");
		    	  }else if(result.status==="300"){
		    		  alert("重複請假");
		    	  }else{
		    		  alert("請假失敗");
		    	  }
		    	  
		    	  
		        
		      },
		      error : function(e) {
		        alert("Error!")
		        console.log("ERROR: ", e);
		      }
		    });
	})
	
	
	
</script>


</body>
</html>